<script>

const diary = {{ diary | dump | safe}}

document.querySelector('a[data-action="previous"]').addEventListener('click', e => {
  e.preventDefault()
  let image = document.querySelector('.diary-img')
  let currentIndex = parseInt(image.dataset.index)
  if(!currentIndex) currentIndex = diary.findIndex(entry => entry.date.full === image.src.split('diary/')[1].split('.jpg')[0])
  let index = currentIndex - 1
  if(index === -1) index = diary.length - 1;
  console.log(diary[index])
  changeImg(diary[index].image, index, diary[index].date)
})

document.querySelector('a[data-action="next"]').addEventListener('click', e => {
  e.preventDefault()
  let image = document.querySelector('.diary-img')
  let currentIndex = parseInt(image.dataset.index)
  if(!currentIndex) currentIndex = diary.findIndex(entry => entry.date.full === image.src.split('diary/')[1].split('.jpg')[0])
  let index = currentIndex + 1
  if(index === diary.length) index = 0;
  changeImg(diary[index].image, index, diary[index].date)
})

document.querySelector('a[data-action="latest"]').addEventListener('click', e => {
  e.preventDefault()
  changeImg(diary[diary.length - 1].image, diary.length - 1, diary[diary.length - 1].date)
})

document.querySelector('a[data-action="calendar"]').remove()

document.addEventListener('duetChange', (event) =>{
  const date = event.detail
  const imgURL = `/assets/images/diary/${date.value}.jpg`
  changeImg(imgURL, null, {
    full: date.value,
    year: date.valueAsDate.getFullYear(),
    month: `0${date.valueAsDate.getMonth()+1}`.slice(-2),
    day: `0${date.valueAsDate.getDate()}`.slice(-2)
  })
})

function changeImg(imgURL, index = "", date) {
  const datePath = `/diary/${date.year}/${date.month}/${date.day}`
  document.querySelector('.diary-img').src = imgURL
  document.querySelector('.diary-img').dataset.index = index
  document.querySelector('.diary-link').href = imgURL
  document.querySelector('.duet-date__input').value = date.full
  // Ideally replace these with appropriate new links
  document.querySelector('a[data-action="previous"]').removeAttribute('href')
  document.querySelector('a[data-action="next"]').removeAttribute('href')
  if(date) history.pushState(null, null, datePath)
}

</script>