---
tag: diary
pagination:
  data: diary
  size: 1
  alias: 'entry'
  addAllPagesToCollections: true
permalink: '/diary/{{entry.date.year}}/{{entry.date.month}}/{{entry.date.day}}.html'
---

{% extends 'layouts/default.njk' %}

{% set title = 'Diary' %}
{% set bodyClass = "diaryEntry" %}

{% block content %}

{% include 'diary.njk' %}
{% include 'events.njk' %}

{% endblock %}

{% set js %}
{% include 'js.njk' %}
{% endset %}