<!DOCTYPE html>
<html lang="en-us" class="no-js">
<head>
  <title>
      {%- if title -%}
          Zack's New Horizons {{ title }}
      {%- else -%}
          Zack's New Horizons
      {%- endif -%}
  </title>
  <meta name="robots" content="index,follow">
  <meta name="generator" content="Eleventy">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <link href="/assets/modules/normalize.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/modules/duet/themes/default.css" />
  <link href="/assets/css/styles.css" rel="stylesheet" />


  <link href="/assets/modules/jsCalendar.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap" rel="stylesheet">
  {{ css | safe if css }}

  <script>document.documentElement.classList.remove('no-js');</script>
</head>
<body class="{{ bodyClass }}">

  <main>
  {% block content %}
  {% endblock content %}
  </main>
  <script src="/assets/modules/duet/duet.js"></script>
  {{ js | safe if js }}
</body>
</html>