html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url('/assets/images/animalcrossing-pattern-leaves-white.jpg')
}

svg {
  width: 32px;
  height: 32px;
}

main {

}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

section h1 {
  width: 100%;
  text-align: center;
}

section h1, section h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: normal;
}

section.diary .calendar {
  display: none;
  position: absolute;
  top: 25%;
  width: 100%;
}

section.diary .calendar.visible { display: block; }

section.diary .calendar table {
  margin: 0 auto;
}

nav.diary-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav.diary-actions a,
nav.diary-actions .duet-date__input-wrapper {
  display: flex;
  align-items: center;
  margin: 1em;
  padding: 5px;
  min-width: 150px;
  max-width: 250px;
  color: white;
  border: 5px solid transparent;
  border-radius: 20px;
  background: #007d75;
  font-size: 1.5rem;
  text-decoration: none;;
  cursor: pointer;
}

.duet-date__input {
  background: transparent;
  color: white;
  border: none;
  padding: 5px;
  font-family: 'Zilla Slab', serif;
}

.duet-date__toggle {
  background: transparent;
  color: white;
}

@media screen and (min-width: 800px) {
  .duet-date__dialog {
    top: initial;
    bottom: calc(100% + 20px);
    height: 335px;
  }
}

@media screen and (max-width: 800px) {
  nav.diary-actions a,
  nav.diary-actions .duet-date__input-wrapper {
    order: 2;
    margin: 5px;
  }
  nav.diary-actions .duet-date { order: 0; }
  nav.diary-actions a[data-action="calendar"] { order: 0; }
  nav.diary-actions a[data-action="previous"] { order: 1; }
  nav.diary-actions a[data-action="next"] { order: 2; }
}

nav.diary-actions a span {
  margin: 0 10px;
  font-family: 'Zilla Slab', serif;
}

nav.diary-actions a[data-action="next"] {
  flex-direction: row-reverse;
}

nav.diary-actions a:hover,
nav.diary-actions .duet-date__input-wrapper:hover{
  border: 5px solid #f1e26f;
}

nav.diary-actions a:hover svg {
  transform: scale(110%)
}

section.diary .diary-link {
  display: flex;
  justify-content: center;
  cursor: zoom-in;
}

section.diary .diary-img {
  width: 100%;
  max-width: 1280px;
}

section.events {
  margin-top: 30px;
  flex-direction: row;
}

section.events .event {
  display: block;
  margin: 10px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 3px;
  box-shadow: #0f0f0f1a 0px 0px 0px 1px, #0f0f0f1a 0px 2px 4px;
  background: white;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: background 120ms ease-in 0s;
}

section.events .event:hover {
  background: #f8f8f8;
}

section.events h2, section.events p {
  margin: 0;
  padding: 5px 0;
}