html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url('/assets/images/animalcrossing-pattern-leaves-white.jpg')
}

svg {
  width: 32px;
  height: 32px;
}

main {

}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

section h1 {
  width: 100%;
  text-align: center;
}

section h1, section h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: normal;
}

section.diary .calendar {
  display: none;
  position: absolute;
  top: 25%;
  width: 100%;
}

section.diary .calendar.visible { display: block; }

section.diary .calendar table {
  margin: 0 auto;
}

nav.diary-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav.diary-actions a {
  display: flex;
  align-items: center;
  margin: 1em;
  padding: 5px;
  min-width: 150px;
  color: white;
  border: 5px solid transparent;
  border-radius: 20px;
  background: #007d75;
  font-size: 1.5rem;
  text-decoration: none;;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  nav.diary-actions a {
    order: 2;
    margin: 5px;
  }
  nav.diary-actions a[data-action="previous"] { order: 0; }
  nav.diary-actions a[data-action="next"] { order: 1; }
}

nav.diary-actions a span {
  margin: 0 10px;
  font-family: 'Zilla Slab', serif;
}

nav.diary-actions a[data-action="next"] {
  flex-direction: row-reverse;
}

nav.diary-actions a:hover {
  border: 5px solid #f1e26f;
}

nav.diary-actions a:hover svg {
  transform: scale(110%)
}

section.diary .diary-link {
  display: flex;
  justify-content: center;
  cursor: zoom-in;
}

section.diary .diary-img {
  width: 100%;
  max-width: 1280px;
}

section.events {
  margin-top: 30px;
  flex-direction: row;
}

section.events .event {
  display: block;
  margin: 10px;
  padding: 10px;
  width: 100%;
  max-width: 375px;
  border-radius: 3px;
  box-shadow: #0f0f0f1a 0px 0px 0px 1px, #0f0f0f1a 0px 2px 4px;
  background: white;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: background 120ms ease-in 0s;
}

section.events .event:hover {
  background: #f8f8f8;
}

section.events h2, section.events p {
  margin: 0;
  padding: 5px 0;
}

.calendar.jsCalendar .jsCalendar-title-name {
  width: calc(100% - 75px);
}

.calendar.jsCalendar tbody td {
  opacity: 0.4;
  color: black;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.calendar.jsCalendar tbody td:after {
  /* content: ''; */
  position: absolute;
  left: 3px;
  top: 16px;
  width: 30px;
  height: 2px;
  background: red;
  transform: rotate(-45deg);
}

.calendar.jsCalendar tbody td.jsCalendar-previous,
.calendar.jsCalendar tbody td.jsCalendar-next {
  color: white;
}

.calendar.jsCalendar tbody td.jsCalendar-selected,
.calendar.jsCalendar tbody td.jsCalendar-current.jsCalendar-selected {
  border: initial;
  height: 36px;
  width: 36px;
  line-height: 36px;
  opacity: 1;
  color: black;
}

.calendar.jsCalendar tbody td.jsCalendar-selected:after,
.calendar.jsCalendar tbody td.jsCalendar-previous:after, 
.calendar.jsCalendar tbody td.jsCalendar-next:after {
  display: none;
}

.calendar.jsCalendar tbody td:hover {
  background-color: initial;
}
.calendar.jsCalendar tbody td.jsCalendar-current:hover {
  background: #52c9ff;
  color: #fff;
}

.calendar.jsCalendar tbody td.jsCalendar-selected:hover,
.calendar.jsCalendar tbody td.jsCalendar-current.jsCalendar-selected:hover  {
  color: black;
  background-color: #e6e6e6;
  cursor: pointer;
}

.calendar .pika-single {
  border: 0;
}

.pika-single .pika-lendar {
  width: auto;
}

.pika-single .pika-label {
  font-size: 1.3rem;
}

.pika-single .pika-table thead th {
  font-size: 1rem;
}

.pika-single .is-disabled .pika-button {
  background: transparent;
}

.pika-button.pika-day {
  color: #999;
  font-size: 1.2rem;
  padding: 15px;
}

.pika-button.pika-day:hover {
  background: #f5f5f5;
  color: #999;
  cursor: default;
  border-radius: 0;
}

.is-today .pika-button.pika-day:hover {
  color: #3af;
}

.has-event .pika-button.pika-day {
  border-radius: 0;
  background: #f5f5f5;
  box-shadow: initial;
  color: black;
}

.has-event .pika-button.pika-day:hover {
  cursor: pointer;
  border-radius: 0;
  background: #005da9;
  color: white;
}