{% extends 'layouts/default.njk' %}

{% set title = 'Diary' %}
{% set bodyClass = "diaryEntry" %}

{% block content %}
{# {{ events | dump | safe }} #}
{# {{ diary | dump | safe }} #}
{# {{ collections.entriesByMonth | log }}
{{ collections.entriesByYear | log }} #}

{% include 'diary.njk' %}
{% include 'events.njk' %}

{% endblock %}

{% set js %}
{% include "js.njk" %}

<script>
latestDate = diary[diary.length - 1].date
history.replaceState(null, null, `/diary/${latestDate.year}/${latestDate.month}/${latestDate.day}`)
</script>

{% endset %}